<!DOCTYPE html> {%load static %}
<html>
<title>{%block title%}{%endblock title%}</title>
{%block corecss %}
<link rel="stylesheet" href="{% static 'css/core.css' %}"> {%endblock corecss %}

<head>

    <body>
        <nav>
            <ul>
                <li>Home</li>
                <li>about</li>
                <li>Contact</li>
            </ul>
        </nav>
        {% block content %}{% endblock content %} {% block content1%}{% endblock content1%} {% block content2 %}{% endblock content2%}
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</head>

</html>